################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpipamaPublicWebApp/.vs/SpipamaPublicWebApp/v16
/SpipamaPublicWebApp/Spipama.Application/obj
/SpipamaPublicWebApp/Spipama.Domain/obj
/SpipamaPublicWebApp/Spipama.Infrastructure.Data/obj
/SpipamaPublicWebApp/Spipama.Infrastructure.IoC/obj
/SpipamaPublicWebApp/.vs/SpipamaPublicWebApp
/SpipamaPublicWebApp/Spipama.API/bin/Debug/net5.0
/SpipamaPublicWebApp/Spipama.API/obj/Debug/net5.0
/SpipamaPublicWebApp/Spipama.API/obj
/SpipamaPublicWebApp/Spipama.Application/bin/Debug/net5.0
/SpipamaPublicWebApp/Spipama.Domain/bin/Debug/net5.0
/SpipamaPublicWebApp/Spipama.Infrastructure.Data/bin/Debug/net5.0
/SpipamaPublicWebApp/Spipama.Infrastructure.IoC/bin/Debug/net5.0
/Spipama.API/bin/Debug/net5.0
/Spipama.API/obj/Debug/net5.0
/Spipama.API/obj
/Spipama.Application/bin/Debug/net5.0
/Spipama.Application/obj
/Spipama.Domain/bin/Debug/net5.0
/Spipama.Domain/obj
/Spipama.Infrastructure.Data/bin/Debug/net5.0
/Spipama.Infrastructure.Data/obj/Debug/net5.0
/Spipama.Infrastructure.Data/obj/Debug/netcoreapp3.1
/Spipama.Infrastructure.Data/obj
/Spipama.Infrastructure.IoC/bin/Debug/net5.0
/Spipama.Infrastructure.IoC/obj/Debug/net5.0
/Spipama.Infrastructure.IoC/obj/Debug/netcoreapp3.1
/Spipama.Infrastructure.IoC/obj
/.vs/SpipamaPublicWebApp/v16
/.vs/SpipamaPublicWebApp/config
/.vs/SpipamaPublicWebApp/DesignTimeBuild
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/spipama-public/v16/.suo
/.vs
/Spipama.Application/bin/Release/net5.0
/Spipama.Domain/bin/Release/net5.0
/Spipama.Infrastructure.Data/bin/Release/net5.0
/Spipama.Infrastructure.IoC/bin/Release/net5.0
/Spipama.API/bin/Release/net5.0
/Spipama.API/Properties/PublishProfiles
/Spipama.Application/bin/Release/net5.0
/Spipama.Domain/bin/Release/net5.0
/Spipama.Infrastructure.Data/bin/Release/net5.0
/Spipama.Infrastructure.IoC/bin/Release/net5.0
