<img src="../../../../assets/images/faq.png" />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-title-2">
        <h4 class="text-center questionText" [translate]="'info.faq'"></h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading pt-2 pb-2 pl-3 pr-3 mb-3" role="tab" id="heading0">
          <h3 class="panel-title pt-2">
            <a class="collapsed questionText" role="button" title="" data-toggle="collapse"
               data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
              <!--  [translate]="'info.how'" -->
              1. {{this.getTextId("$reformAdministration")}}
            </a>
          </h3>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
          <div class="panel-body px-3 mb-4">
            <p s>
              {{this.getTextId("$keyPriorityGovernment")}}
            </p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading pt-2 pb-2 pl-3 pr-3 mb-3" role="tab" id="heading1">
          <h3 class="panel-title pt-2">
            <a class="collapsed questionText" role="button" title="" data-toggle="collapse"
               data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
              <!--  [translate]="'info.goals'" -->
              2. {{this.getTextId("$importanceAdministrationReform")}}
            </a>
          </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
          <div class="panel-body px-3 mb-4">
            <ul class="list-unstyled">
              <li>
                <p>
                  {{this.getTextId("$responsiblePublicAdministration")}}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading pt-2 pb-2 pl-3 pr-3 mb-3" role="tab" id="heading2">
          <h3 class="panel-title pt-2">
            <a class="collapsed questionText" role="button" title="" data-toggle="collapse"
               data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
              <!--  [translate]="'info.conclusions'" -->
              3. {{this.getTextId("$priorityOfGovernmentForReform")}}
            </a>
          </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
          <div class="panel-body px-3 mb-4">
            <ul class="list-unstyled">
              <li>
                <p>
                  {{this.getTextId("$governmentOfRKSGoals")}}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading pt-2 pb-2 pl-3 pr-3 mb-3" role="tab" id="heading3">
          <h3 class="panel-title pt-2">
            <a class="collapsed questionText" role="button" title="" data-toggle="collapse"
               data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
              <!-- [translate]="'info.minutes'" -->
              4. {{this.getTextId("$governmentAimAchieve")}}
            </a>
          </h3>
        </div>
        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
          <div class="panel-body px-3 mb-4">
            <ul class="list-unstyled">
              <li>
                <p>
                  {{this.getTextId("$governmentGoals")}}
                </p>
                <p>
                  {{this.getTextId("$government.Service")}}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading pt-2 pb-2 pl-3 pr-3 mb-3" role="tab" id="heading4">
          <h3 class="panel-title pt-2">
            <a class="collapsed questionText" role="button" title="" data-toggle="collapse"
               data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
              <!--  [translate]="'info.reports'" -->
              5. {{this.getTextId("$government.publicServices")}}
            </a>
          </h3>
        </div>
        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
          <div class="panel-body px-3 mb-4">
            <ul class="list-unstyled">
              <li>
                <p>
                  {{this.getTextId("$e-governmentService")}}
                </p>
                <p>
                  {{this.getTextId("$digitzationOfDocument")}}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading pt-2 pb-2 pl-3 pr-3 mb-3" role="tab" id="heading5">
          <h3 class="panel-title pt-2">
            <a class="collapsed questionText" role="button" title="" data-toggle="collapse"
               data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
              <!--  [translate]="'info.strategies'" -->
              6. {{this.getTextId("$publicProcurementReforms")}}
            </a>
          </h3>
        </div>
        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
          <div class="panel-body px-3 mb-4">
            <ul class="list-unstyled">
              <li>
                <p>
                  {{this.getTextId("$digitzationProcurement")}}
                </p>
                <p>
                  {{this.getTextId("$contextReformsPublicProcurement")}}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
