.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #4484CE!important;
  border-color: #4484CE!important;
}

.section-video {
  min-width: 100%;
  background-image: url('../../../../assets/images/bcg-2.jpg');
}

.section-video h2 {
  color: dimgray;
  margin-top: 15%;
}

.section-video i {
  font-size: 50px!important;
}
